/*
    
    Topo·logo·scopio
    @hspencer

*/


@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

html{
    font-family: Oswald, "Roboto Condensed";
    font-size: 3em;
    line-height: 100%;
    font-weight: 400;
}

body{
    /*display: table-cell;*/
    vertical-align: text-bottom;
    overflow: hidden;
    padding: 1em;
    background-color: #000;
    color: #FFF;
}

#speech-container{
    position: absolute;
    bottom: 1em;
}

#speech span{
    margin-right: 1ex;
    font-weight: 300;
}

#intermediate{
    color: #ddd5b2;
    font-weight: 400;
}

#darken-overlay{
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(50%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

#defaultCanvas,
.snd{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 200;
}

h1{font-weight: 400}
h4{font-weight: 300}

